# write the files you want to ignore so that they will not be pushed
proposal_presentation/*.jpg
proposal_presentation/*.json
proposal_presentation/*.svg
INF554_Team_Undefined_Article_YouTube_video.mp4
INF554_Team_Undefined_Presentation_PDF.pptx
